<a href="https://colab.research.google.com/github/Akshayanair0308/Business-Analytics-with-Python/blob/main/Python_Tax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
a=int(input("Enter the first Number:"))

Enter the first Number:10

In [7]:
b=int(input("Enter the second Number"))

Enter the second Number20

In [8]:
print (a+b)

30

In [9]:
print (a-b)

-10

In [10]:
print(a*b)

200

In [11]:
print(a/b)

0.5

In [13]:
p=int(input("Enter the principal amount:"))

Enter the principal amount:100000

In [19]:
n=int(input("Enter the rate of interest:"))/100

Enter the rate of interest:8

In [16]:
r=int(input("Enter the number of years:"))

Enter the number of years:5

In [21]:
i=p*r*n

In [22]:
print(i)

40000.0

In [23]:
x=int(input("Enter a Number: "))

Enter a Number: 100

In [25]:
if x>50:
     print("You Passed")
else:
     print("You Failed")

You Passed

In [39]:
sal=int(input("Enter your Salary:"))
if sal>250000:
   print("You are Taxable")
   t= sal*10/100
   print("Your tax is", t)
else:
   print("You are not taxable")

Enter your Salary:500000
You are Taxable
Your tax is 50000.0

In [40]:
sal=int(input("Enter your salary: "))
if sal>250000:
    print("You are taxable")
    t=sal-250000
    tax=t*10/100
    print("Your tax =",tax)
else:
    print("You are not taxable")

Enter your salary: 500000
You are taxable
Your tax = 25000.0

In [41]:
sal=int(input("Enter your salary: "))
if sal>250000:
    print("You are taxable")
    if sal<500000:
        t=sal-250000
        tax=t*10/100
        print("Your tax =",tax)
    else:
        tax=sal*20/100
        print("Your tax =",tax)
else:
    print("You are not taxable")

Enter your salary: 500000
You are taxable
Your tax = 100000.0