<a href="https://colab.research.google.com/github/Akshayanair0308/Business-Analytics-with-Python/blob/main/tax_calculation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s=int(input("Enter your salary:"))
if s>250000 and s<500000:
  q=s-250000
  t1=q*5/100
  print("Tax to be paid is Rs.",t1)
elif s>500000 and s<750000:
  q=s-500000
  t1=q*10/100
  w=500000-250000
  t2=w*5/100
  tax=t1+t2
  print("Tax to be paid is Rs.",tax)
elif s>750000 and s<1000000:
  q=s-750000
  t1=q*20/100
  w=500000-250000
  t2=w*5/100
  e=750000-500000
  t3=e*10/100
  tax=t1+t2+t3
  print("Tax to be paid is Rs.",tax)
elif s>1000000:
  q=s-1000000
  t1=q*30/100
  w=500000-250000
  t2=w*5/100
  e=750000-500000
  t3=e*10/100
  r=1000000-750000
  t4=r*20/100
  tax=t1+t2+t3+t4
  print("Tax to be paid is Rs.",tax)

Enter your salary:500000